<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static "bootstrap.css"%}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{%url "post"%}">New Post <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Draft</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link " href="#">Log out</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{%url "home"%}" >
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button>
          </form>
        </div>
      </nav>
</body>
</html>