body{
    background-image: url('/static/background3.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.round{
    border:7px solid;
    border-color: #3377ff;
    border-radius: 100;
    height: 110px;
}
.move{
    position: relative;
    left:850px;
    bottom: 320px;
    font-size: 40px
}